@import "tailwindcss";

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* images reset */
img,
picture {
  max-width: 100%;
  display: block;
}

/* elements reset */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors */
@theme {
  --color-blue-800: hsl(218, 53%, 10%);
  --color-blue-600: rgb(19, 32, 52);
  --color-blue-500: rgb(31, 47, 68);
  --color-blue-400: rgb(48, 67, 97);

  --color-mint-500: rgb(96, 209, 172);

  --color-grey-500: rgb(173, 184, 193);
  --color-grey-100: rgb(226, 232, 237);
}