@import "tailwindcss";

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* images reset */
img,
picture {
  max-width: 100%;
  display: block;
}

/* elements reset */
input,
button,
textarea,
select {
  font: inherit;
}

/* typography */
body {
  font-family: "Fira Mono", monospace;
}

/* colors */
@theme {
  --color-blue-800: #0c1627;
  --color-blue-600: #132034;
  --color-blue-500: #1f2f44;
  --color-blue-400: #304361;

  --color-mint-500: #60d1ac;

  --color-grey-500: #adb8c1;
  --color-grey-100: #e2e8ed;
}
